{% extends "master.html" %}


{% block title %}
O stránce
{% endblock %}


{% block content %}
O této stránce

<main>
			<div id="main-title">
				<h1>O stránce</h1>
				<h3>Tady je pár informací o stránce</h3>
				<h6>opravdu jen pár :)</h6>
			</div>
			<div id="content">
				<p>Obyčejný text</p>
				<article>
					Article
					<section>
						Section1
					</section>
				</article>
			</div>

		</main>
<aside>
			<ul>
				<li a data-href-template="home.html">Item1</li>
				<li>Item2</li>
				<li>Item3</li>

			</ul>
		</aside>

		<footer>
			<span>footer</span>
		</footer>
{% endblock %}